body {
    font-family: "Roboto Mono", monospace;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}

.centeredFlexColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, #6c23b5, #d8006c);
}

.whiteTexColor {
    color: #f1f1f1;
}

.footer {
    display: flex;
    height: 15em;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #6c23b5, #d8006c);
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    margin: 2em;
}

.text {
    display: flex;
    justify-content: flex-start;
    padding: 2em;
    flex-direction: column;
}

.gif {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
    flex-direction: column;
}

.technologies {
    display: flex;
    margin: 2em;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    margin-right: 2em;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.language-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 1em;
}

.language-row {
    display: flex;
    margin: 2em;
    padding: 2em;
    justify-content: flex-start;
}
